<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <!-- Console Appender -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
        <!-- File Appender for all logs -->
        <File name="FileAppender" fileName="logs/automation.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        
        <!-- File Appender for INFO level logs -->
        <File name="InfoFileAppender" fileName="logs/info.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        
        <!-- File Appender for ERROR level logs -->
        <File name="ErrorFileAppender" fileName="logs/error.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        
        <!-- Rolling File Appender -->
        <RollingFile name="RollingFileAppender" fileName="logs/automation-rolling.log"
                     filePattern="logs/automation-rolling-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    
    <!-- Loggers -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="InfoFileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
        
        <!-- Specific Logger for automation package -->
        <Logger name="automation.com" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="InfoFileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
        
        <!-- Logger for Selenium WebDriver -->
        <Logger name="org.openqa.selenium" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        
        <!-- Logger for WebDriverManager -->
        <Logger name="io.github.bonigarcia.wdm" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        
        <!-- Logger for TestNG -->
        <Logger name="org.testng" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
    </Loggers>
    
</Configuration>
